body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.header {
	display: flex;
}

.nav-bar {
	margin-left: auto;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-item {
	margin-right: 15px;
}

.fas {
	font-size: 1.5rem;
	color: gray;
}

.btn-login {
	border: 1px solid #4285f4;
	color: white;
	font-size: 13px;
	border-radius: 2px;
	line-height: 28px;
	padding: 0 12px;
	background-color: #4285f4;
	margin-right: 25px;
}
