* {
	box-sizing: border-box;
}

/******** ELEMENTS  ***********/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #e6e6e6;
}

/******** HEADER CLASSES ***********/

.header {
	display: flex;
}

.nav-bar {
	margin-left: auto;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-item {
	margin-right: 15px;
}

.fas {
	font-size: 1.5rem;
	color: gray;
}

.btn-login {
	border: 1px solid #4285f4;
	color: white;
	font-size: 13px;
	border-radius: 2px;
	line-height: 28px;
	padding: 0 12px;
	background-color: #4285f4;
	margin-right: 25px;
}

/******** MAIN CLASSES ***********/

.main {
	display: flex;
	justify-content: center;
}

.main img {
	align-self: center;
}

.search-container {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 150px;
}

.search-bar {
	width: 544px;
	height: 42px;
	border-radius: 25px;
	border: none;
	padding: 0 16px;
	background-color: #f2f2f2;
	align-self: center;
	margin-top: 20px;
}

.search-bar:hover {
	background-color: #e6e6e6;
}

.search-bar:focus {
	outline: 0;
}

.buttons {
	padding-top: 18px;
	align-self: center;
}

.search-button {
	padding: 0 16px;
	height: 36px;
	line-height: 27px;
	color: #5f6368;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	margin: 11px 4px;
}

.search-button:hover {
	border: 1px solid lightgray;
	color: #000;
}

.search-button:focus {
	border: 1px solid #0066ff;
	outline: 0;
}

.search-button:active {
	border: 1px solid #0066ff;
	outline: 0;
}

/******** FOOTER CLASSES *******/

.footer-menu {
	border-top: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
}

.footer-menu a {
	color: #5f6368;
}

.footer-menu .menu {
	margin: 0;
	padding: 20px;
}

.country {
	color: #5f6368;
	font-size: 14px;
	padding: 5px 20px;
}
